<?xml version="1.0" encoding="UTF-8"?>
<package packagerversion="1.9.1" version="2.0" xmlns="http://pear.php.net/dtd/package-2.0" xmlns:tasks="http://pear.php.net/dtd/tasks-1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://pear.php.net/dtd/tasks-1.0
    http://pear.php.net/dtd/tasks-1.0.xsd
    http://pear.php.net/dtd/package-2.0
    http://pear.php.net/dtd/package-2.0.xsd">
    <name>PHP_Manipulator</name>
    <channel>pear.robo47.net</channel>
    <summary>A command-line tool for manipulating php code.</summary>
    <description>PHP\Manipulator is a code-manipulator for PHP for adding, changing and delete php-code. For example removing Comments, Formatting Code, ...</description>
    <lead>
        <name>Benjamin Steininger</name>
        <user>robo47</user>
        <email>robo47@robo47.net</email>
        <active>yes</active>
    </lead>
    <date>{{date}}</date>
    <time>{{time}}</time>
    <version>
        <release>{{version}}</release>
        <api>{{api_version}}</api>
    </version>
    <stability>
        <release>{{stability}}</release>
        <api>{{api_stability}}</api>
    </stability>
    <license uri="http://www.opensource.org/licenses/bsd-license.php">BSD Style</license>
    <notes>
first test release
    </notes>
    <contents>
        <dir baseinstalldir="/" name="/">
            {{files}}
        </dir>
    </contents>
    <dependencies>
        <required>
            <php>
                <min>5.3.0</min>
            </php>
            <pearinstaller>
                <min>1.8.1</min>
            </pearinstaller>
            <!-- @todo find symfony 2.0 pear repro -->
            <package>
                <name>symfony2</name>
                <channel>pear.robo47.net</channel>
                <min>0.0.0</min>
            </package>
            <extension>
                <name>dom</name>
            </extension>
            <extension>
                <name>pcre</name>
            </extension>
            <extension>
                <name>spl</name>
            </extension>
            <extension>
                <name>tokenizer</name>
            </extension>
        </required>
    </dependencies>
    <phprelease>
        <filelist>
            <install as="phpmanipulator" name="phpmanipulator.php" />
        </filelist>
    </phprelease>
    <changelog>
    </changelog>
</package>