<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    syntaxCheck="false"
    bootstrap="TestHelper.php">
    <filter>
        <whitelist>
            <directory suffix=".php">../library/PHP/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html"
             target="./tmp/report"
             charset="UTF-8"
             yui="true"
             highlight="false"
             lowUpperBound="35"
             highLowerBound="70" />
    </logging>
    <testsuites>
      <testsuite name="PHP_Formatter Test Suite">
        <directory>./PHP/</directory>
      </testsuite>
    </testsuites>
</phpunit>